.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  outline: none !important;
  outline-width: 0;
  padding: 0.5rem 0.75rem;
}

.tab-list-item:focus {
  outline: none;
  outline-width: 0;
}

.tab-list-item::selection {
  outline: none;
  outline-width: 0;
}

.tab-content {
  height:100%;
  padding-bottom:30px;
}

.tab-list-active {
  background-color: white;
  border-bottom: 3px solid #61aeeb;
}