.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
  background-color: #fff;
  width: 100%;
  box-shadow: 1px 2px 3px #cfcfcf;
  z-index: 99999;
}

.leftBox {
  display: flex;
}

.leftBox p {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.centerBox {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
}

.centerBox  a{
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

.centerBox a.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 85%;
  height: 2px;
  background: #61AEEB;
  transition: width .3s;
  bottom: -24px;
}

.navbar-light .navbar-nav .nav-link.active{
  background-color: transparent;
}

.navbar-light .navbar-toggler{
  padding: 0;
  margin-right: 30px;
  border: 0;
}

.centerBox a:hover::after {
  width: 100%;
}

.alert {
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border-right: 1px solid #cbcbcb;
}

.profile {
  background-color: #EAF5FC;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 12px;
}



.rightBox {
  display: flex;
}

#profile-dropdown {
  position: absolute;
  list-style: none;
  z-index: 999999;
  display: none;
  width:140px;
  right:20px;
  top:65px;
  height:100px;
  color:white;
  background-color: #61AEEB;
  transition:all 1s ease;
}

#profile-dropdown > li {
  color:white;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  padding:10px;
  border-bottom: 1px solid  white;
}

#profile-dropdown > li:hover {
  opacity:0.7;
}

#profile-dropdown> li:last-child {
  border-bottom: none;
}

.profile:hover #profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition:all 1s ease; 
}

ul {
  padding:0;
}

